*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  
}
html, body{
    height: 100%;
    width:100%;
}
#main{
    height: 100%;
    width:100%;
    background-color:rgb(99, 188, 233);
    justify-content:center;/*horizontal alignment*/
    align-items:center;/*vertical alignment*/
}
#heading{
    justify-content:center;
    display: flex;
    padding-top:25px;
    font-family: cursive;
    font-size:30px;
}
h4{
    font-size:20px;
    font-style: italic;
}
#squarebox{
    background-color: white;  
    height:83%;
    width:85%;
    margin: 15px 0px 0px 100px;
    overflow:hidden;
    border-radius:10px;
}
#header{
    background-color:rgb(45, 134, 89);  
    height:90px;
    width:100%;
    align-items:center;
    display:flex;
    justify-content:space-between;
    padding:0px 25%;
    color:white;
}
.box{
background-color:white;
padding:8px 15px;
border-radius:15px;
border: 1px solid black;
color:rgb(18,119,57);
font-weight:bold;
font-family: cursive;
font-size:30px;
}
.elem{
gap:10px;
display:flex;
align-items:center;
}
#bdy{
    height:calc(100% - 90px);
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
    gap:10px;
    padding:10px;
}
#bubble
{
border-radius:50%;
color:white;
//padding:5px;
background-color:rgb(64, 191, 128);
border: 1px solid black;
align-items:center;
display:flex;
justify-content:center;
height:30px;
width:30px;
}
#bubble:hover{
    background-color:lightgreen;;
    cursor:pointer;
}
#btn{
height:50px;
width:130px;
color:white;
background-color:rgb(45, 134, 89);
border: 1px solid black;
align-items:end;
justify-content:center;
}
#btn:hover{
    background-color:rgb(20,105,40);  
    cursor:pointer;
}
