*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  
}
html, body{
    height: 100%;
    width:100%;
}
#main{
    height: 100%;
    width:100%;
    background-color:rgb(180, 63, 63);
    background-image: url('https://cdn.vectorstock.com/i/500p/95/49/pink-and-blue-background-with-soft-soap-balls-vector-51149549.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content:center;/*horizontal alignment*/
    align-items:center;/*vertical alignment*/
}

#heading{
    justify-content:center;
    display: flex;
    padding-top:25px;
    font-weight: bold;
    color:rgb(180, 63, 63);
    font-family: cursive;
    font-size:30px;
}
h4{
    font-size:30px;
    color:rgb(180, 63, 63);
    font-style: italic;
}
#squarebox{
    border:1px solid black;
    height:83%;
    width:85%;
    margin: 15px 0px 0px 100px;
    overflow:hidden;
    border-radius:10px;
}
#header{
    background-image: url('https://www.thestreet.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTgzNTYzNTE2NzIzMDc4NTYy/bubble-sh.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 2px solid rgb(180, 63, 63);
    height:90px;
    width:100%;
    align-items:center;
    display:flex;
    justify-content:space-between;
    padding:0px 25%;
    color:white;
}
.box{
background-color:white;
padding:8px 15px;
border-radius:15px;
border: 1px solid black;
color:rgb(180, 63, 63);
font-weight:bold;
font-family: cursive;
font-size:30px;
}
.elem{
gap:10px;
display:flex;
align-items:center;
}
#bdy{
    background-image: url('https://www.shutterstock.com/image-photo/abstract-blurred-sunset-sky-clouds-260nw-536355280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height:calc(100% - 90px);
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
    gap:10px;
    padding:10px;
}

#bubble
{
border-radius:50%;
color:black;
font-size:20px;
background-image: url('https://t4.ftcdn.net/jpg/00/17/91/87/360_F_17918716_BiZZZuykNHr3d1fTQ1lpDVrw7IXKKvZM.jpg');
background-size: cover;
border: 1px solid black;
align-items:center;
display:flex;
justify-content:center;
height:30px;
width:30px;
}
#bubble:hover{
    background-color:lightgreen;;
    cursor:pointer;
}
#btn{
height:50px;
width:130px;
font-family: cursive;
color:white;
font-size:20px;
border-radius:50px;
background-color:rgb(199, 91, 122);
border: 1px solid black;
align-items:end;
justify-content:center;
}
#btn:hover{
    cursor:pointer;
}
